.sidebar-item {
  padding: 1rem;
  display: block;
  cursor: pointer;
  box-shadow: inset 4px 0px transparent;
}
.sidebar-item-icon {
  width: 1.25rem;
  height: 1.25rem;
}
.sidebar-item-title {
  margin-left: 16px;
  font-size: 0.875rem;
  font-weight: 500;
}
.sidebar-item:hover {
  background-color: var(--color-gray-50);
  box-shadow: inset 4px 0px var(--color-gray-500);
}